.pages {
   width: 100%;
   display: flex;
   }
   html,
   body{
      
      width: 100vw;
      height: 800px;
      /* overflow: hidden;     */
      margin: 0;
   }
   .foot_mark{
      height: 100vh;
      width: 100%;
     
   }
   .Appy{
      background-color: rgba(246, 241, 241, 0.839);
      justify-content: flex-end;
   }
   .switch{
      float: right;
   }